body,
html {
  width: 100vw;
  height: 100vh;
}

body {
  transition: background-color 3s ease;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.panel {
  height: 900px;
}

.color-blue {
  background-color: hsl(240, 100%, 50%);
}

.color-violet {
  background-color: hsl(273, 100%, 50%);
}

.color-green {
  background-color: hsl(180, 100%, 50%);
}
